.all-cards {
  /* background: #27221f; */
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 100px;
  margin-left: 75px;
}
.overflow {
  overflow: hidden;
}

.mainProjects {
  display: flex;
  height: 100vh;
  background-size: cover;
}

/* .leftMainProjects {
  flex: 1;
} */

/* .rightMainProjects {
  flex: 1;
} */

/* .middleMainProjects {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
} */

.card {
  height: 450px;
}

.card__content {
  overflow: hidden;
  padding: 1px;
}

.displayCards {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  /* padding: 20px; */
  /* padding-right: 10px */
}

/* div setting */
#displayCardsCol {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
}

.ulList {
  list-style: none;
  text-align: center;
}
.divImg {
  width: 400px;
  /* height: 400px;
  overflow: hidden; */
}

h3 {
  font-weight: bold;
  font-size: larger;
  color: rgb(216, 35, 171);
  /* padding-top: 10px; */
  margin: 0px 0px 0px !important;
  padding: 10px;
  justify-content: center;
}
.a {
  color: rgb(216, 35, 171);
}
@media screen and (max-width: 1440px) {
  .mainProjects {
    min-height: 100vh !important;
  }
}

@media screen and (max-width: 768px) {
  .mainProjects {
    min-height: 100vh !important;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .lblFullStack {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .displayData {
    height: auto;
  }
}

@media screen and (max-width: 414px) {
  .main {
    height: auto;
  }
}

@media screen and (max-width: 414px) {
  .divImg {
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  .divImg {
    width: 250px;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .all-cards {
    /* background: #27221f; */
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 100px;
    margin-left: 75px;
  }
  .displayCards {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: -18px;
    /* padding-right: 10px; */
  }
  .divImg {
    width: 125px;
    height: auto;
    overflow: hidden;
  }

  h3 {
    font-weight: bold;
    font-size: small;
    color: rgb(216, 35, 171);
    /* padding-top: 10px; */
    margin: 0px 0px 0px !important;
    /* padding: 10px; */
    line-height: 21px;
    justify-content: center;
  }
}
