h1,
h4 {
  text-align: center;
  color: rgb(216, 35, 171);
}
.social-links i {
  color: rgb(216, 35, 171);
  font-size: 5em;
  padding: 8px;
}
.landing-icons {
  border-radius: 50%;
  padding: 8px;
  height: 20px;
  margin-left: 20px;
}
svg {
  font-size: xx-large !important;
}
.right-col {
  background: #27221f;
  color: white !important;
  padding: 2em;
  margin-top: 50px;
}
